
<div class="banner">
	<img src="imgs/logo-big.png" alt="">

	<div class="mouseIcon">
		<span class="mouseScroll"></span>
	</div>
</div>

<div class="textBoxSection">
	<div class="maxContent">
		<h1 class="orange">Olá!</h1>
		<p>
			É muito bom ter você aqui.<br>
			Somos especialistas em comunicação e marketing digital, mas vamos muito além.<br>
			Planejamos, criamos e desenvolvemos campanhas digitais, ações em redes sociais e projetos web e mobile, estratégicos para empresas em todo território nacional.<br>
			Nestes dez anos de experiência, realizamos muito, por muitas marcas.<br>
		</p>
		<p>E com você, o que vamos realizar juntos?</p>
	</div>
</div>

<div class="squareForm">
	<div class="internalContent">
		<div>
			<h1>Montesertec Engenharia</h1>
			<h3>Web design & Web Development</h3>
			<!-- <span class="button">Explore</span> -->
		</div>
	</div>
</div>
<div class="rectangleForm job2">
	<div class="internalContent">
		<div>
			<h1>Le biscuit</h1>
			<h3>Business Management Tool</h3>
			<!-- <span class="button">Explore</span> -->
		</div>
	</div>
</div>
<div class="rectangleForm job3">
	<div class="internalContent">
		<div>
			<h1>Concursados - Desafio OAB</h1>
			<h3>Mobile App Game Development</h3>
			<!-- <span class="button">Explore</span> -->
		</div>
	</div>
</div>
<div class="clearfix"></div>

<div class="textBoxSection">
	<div class="maxContent">
		<h1>Nossos Clientes</h1>
		<p>Atendemos empresas de todos os tamanhos em diversos setores.</p>
		<p class="regularFont">Aqui é trabalho, meu filho!</p>

		<div class="clientsList">
			<div>
				<img src="imgs/client-ogunja.png" alt="">
			</div>
			<div>
				<img src="imgs/client-lebiscuit.png" alt="">
			</div>
			<div>
				<img src="imgs/client-ism.png" alt="">
			</div>
			<div>
				<img src="imgs/client-goob.png" alt="">
			</div>
			<div>
				<img src="imgs/client-loa.png" alt="">
			</div>
			<div>
				<img src="imgs/client-enerup.png" alt="">
			</div>
			<div>
				<img src="imgs/client-yolu.png" alt="">
			</div>
		</div>
		<div class="clearfix"></div>

	</div>
</div>

<div class="textBoxSection notMobile" style="background:white;">
	<div class="maxContent">
		<p>"A Opus Comunicação é mais que minha empresa, é meu projeto de vida. Meus clientes são, acima de tudo, parceiros e para eles busco a melhor entrega, os melhores resultados, fazendo sempre mais."</p>
		<p class="ass">(Fabio Bastos)</p>
	</div>
</div>	

<section ng-include="'views/elem-footer.html'"></section>


