.qualityPolitcy{
	background-image: url(../imgs/about_002.jpg);
	background-size:auto 600px;
	background-repeat:no-repeat;
	background-position: center 0;
	padding-top: 70px;

	.max-content > h1, .max-content > p, .max-content > ul li{
		color: #fff;
		font-size: 18px;
	    width: 70%;
    	margin: 0 auto 30px;
	}

	.max-content > h1{
		font-family: $font-sec;
		font-size: 24px;
		text-transform: uppercase;
	}

	.max-content > p{
		line-height: 1.7;
	}

	.max-content > ul li{
		position: relative;
		margin-bottom: 20px;
		padding-left: 13px;

		&:before{
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius:50%;
			display: inline-block;
			left: 0;
			top: 11px;
			background: white;
		}
	}

	@media (max-width:680px){
		padding-top: 30px;
		.max-content > h1, .max-content > p, .max-content > ul li{
			width: 100%;
			margin-bottom: 20px;
			font-size: 17px
		}

	}
}

.infoCardBox{
	display:flex;
	justify-content:space-between;
	margin-top: 60px;

	.infoCard{
		width: 375px;
		height: 375px;
		box-shadow: 0 0 0 8px rgba(0,0,0,0.2);
		background: white;
		border-radius:8px;
		padding: 40px;

		h1{
			font-family: $font-sec;
			font-size: 24px;
			color: $color-secu;
			font-weight: bold;
			margin-bottom: 20px;
		}	
		p{
			line-height: 1.7;
			color: #767a7e;
			font-size: 16px;
		}

		li{
			position: relative;
			margin-bottom: 15px;
			color: #767a7e;
		}
	}

	@media (max-width: 680px){
		flex-direction: column;

		.infoCard{
			width: auto;
			height: auto;
			margin-bottom: 30px;
		}
	}
}

.headerAbout{
	background: #f6f7f8;

	a{
		position: relative;
		line-height: 58px;
		width: 50%;
		display: inline-block;
		float: left;
		text-align: center;
		font-family: $font-sec;
		font-weight: bold;
		font-size: 14px;
		color: #767a7e;
		text-transform: uppercase;
		@include transition(all ease-in-out 0.2s);

		&:after{
			content:'';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0;
			background: $color-secu;
			@include transition(all ease-in-out 0.2s);
		}

		&.active{
			color: $color-secu;
			&:after{
				height: 4px;
			}
		}
	}

	@media (max-width: 680px){
		a{
			display: flex;
		    align-items: center;
		    justify-content: center;
	        line-height: 18px;
	        min-height: 58px;
		}
	}
}

.marcas{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
    width: 70%;
    margin: 0 auto 30px;

	& > div{
		@include centralize-contentflex();
		width: calc(50% - 5px);
		height: 180px;
		border:1px solid #e5e5e5;
		border-radius:8px;

		img{
			max-width: 80%;
			margin-bottom: 0!important;
		}


	}
	@media (max-width: 680px){
		flex-direction: column;	
		width: 100%;
		& > div{
			width: 100%;
			margin-bottom: 20px;
		}
	}
}


.historyLine{
	position: relative;
	width: 100%;
	margin-bottom: 70px;

	&:before{
		content: '';
		position: absolute;
		display: block;
		height: 4px;
		background: #e5e5e5;
		left: -50%;
		bottom: 130px;
		width: 200%;
	}

	div.content{
	    width: 70%;
    	margin: 0 auto 30px;
    	position: relative;
    	z-index: 2;

		h1{
			font-family: $font-sec;
			font-weight: bold;
			font-size: 24px;
			color: $color-secu;
			margin-bottom: 55px;
			display: inline-block;
			margin-right: 16px;
		}

		nav{
			display: inline-block;
			@include transform(translateY(-4px));

			button{
				border-radius:50%;
				background: $color-secu;
				width: 38px;
				height: 38px;
				border:none;
				margin-right: 5px;
				cursor: pointer;

				img{
					height: 14px;
					width: auto;
					margin-bottom: 0;
					margin-left: 3px;
				}

				&.rot{
					@include transform(rotateY(180deg));
				}
			}
		}
	}

	.cardsHist{
		position: relative;
		width: 1800px;
		@include transition(all ease-in-out 0.3s);
		.card{
			height: 250px;
			width: 250px;
			box-shadow:0 0 0 9px #e5e5e5;
			display: inline-block;
			margin-right: 45px;
			border-radius:8px;
			background: white;
			padding:40px 30px;
			float: left;
			@include transition(all ease-in-out 0.3s);

			h2{	
				font-family: $font-sec;
				font-weight: bold;
				font-size: 30px;
				color: #767a7e;
				@include transition(all ease-in-out 0.3s);
				margin-bottom: 10px;
			}
			p{
				font-size: 16px;
				color: #767a7e;
				line-height: 1.7;
				margin: 0;
				width: 100%;
				@include transition(all ease-in-out 0.3s);
			}

			&.active{
				@include transform(scale(1.1) translate3d(0,0,0));
				box-shadow:0 0 0 9px $color-secu;
				h2{
					color: $color-base;
				}
				p{
					color: $color-secu;
				}
			}
		}
	}

	@media (max-width: 680px){
		div.content{
			width: 100%;

			h1{
				margin-bottom: 20px;
			}
			nav{
				margin-bottom: 40px;
			}
		}
	}
}