<h3 class="subTitle">Fale com a monsertec</h3>
<div class="adressBox">
	<h1>Matriz(BA)</h1>
	<ul>
		<li class="local">Terceira Travessa Renato Lima, 223. Parque Petrópolis - CEP: 42.850-000. Dias D'Ávila - Bahia - Brasil</li>
		<li class="tell"><span>+55 71 </span>3625-1845</li>
		<li class="email">monsetec@montesertec.com.br</li>
	</ul>
</div>
<div class="adressBox">
	<h1>FILIAL (PE)</h1>
	<ul>
		<li class="local">Rua do Comércio, 80 - Sala 203. Centro - CEP: 55.590-000. Ipojuca - Pernambuco - Brasil</li>
		<li class="tell"><span>+55 81 </span>3469-1350</li>
		<li class="email">monsetec@montesertec.com.br</li>
	</ul>
</div>