<div class="footerTop">
	<div class="max-content">
		<div class="contentLink">
			<h1>Trabalhe conosco</h1>
			<p>Caso tenha interesse em incluir seu currículo no nosso banco de dados, preencha nosso formulário de contato.</p>
			<a href="#!/trabalhe-conosco">Saiba mais</a>
		</div>
		<div class="contentLink right">
			<h1>Linha ética</h1>
			<p>Nosso compromisso com os valores e os princípios éticos e morais.</p>
			<a href="#!/linha-etica">Saiba mais</a>
			
		</div>
		<div class="clearfix"></div>
	</div>
	

	<img src="imgs/footer-profissional.png" alt="">
	<hr>
</div>

<div class="adressSection">
	<div class="max-content">
		
		<div class="adressInfo">
			<h1>Matriz(BA)</h1>
			<ul>
				<li class="local">Terceira Travessa Renato Lima, 223. Parque Petrópolis - CEP: 42.850-000. Dias D'Ávila - Bahia - Brasil</li>
				<li class="tell"><span>+55 71 </span>3625-1845</li>
				<li class="email">monsetec@montesertec.com.br</li>
			</ul>
		</div>
		<div class="adressInfo">
			<h1>FILIAL (PE)</h1>
			<ul>
				<li class="local">Rua do Comércio, 80 - Sala 203. Centro - CEP: 55.590-000. Ipojuca - Pernambuco - Brasil</li>
				<li class="tell"><span>+55 81 </span>3469-1350</li>
				<li class="email">monsetec@montesertec.com.br</li>
			</ul>
		</div>
		<img src="imgs/logo-white.png" alt="">
	</div>
</div>

<div class="footerBottom">
	<div class="max-content">
		<a class="externalLink" href="#">
			<img class="linkImg" src="imgs/ico_nuvemI.png" alt="">
		</a>
		<a class="externalLink" href="#">
			<img class="linkImg" src="imgs/ico_nuvemE.png" alt="">
		</a>
		<a class="externalLink" href="#">
			<img class="linkImg" src="imgs/ico_qualis.png" alt="">
		</a>

		<h1>Desenvolvido por:</h1>
		<a class="opus" href="http://opuscomunicaca.com">
			<img src="imgs/logo-opus.png" alt="">
		</a>
		
	</div>
</div>

<h1 class="copyRight">Copyright 2017 © Grupo Monsertec. Todos os direitos reservados.</h1>
