<div class="bannerSection about">
	<div class="content">
		<div scroll-banner>
			<h1 class="bigTitle">Monsertec Engenharia</h1>
		</div>
	</div>
</div>

<div class="headerAbout">
	<div class="max-content small">
		<a href="#!/sobre/monsertec" class="active">Monsertec engenharia</a>
		<a href="#!/sobre/grupo-monsertec">Grupo monsertec</a>
		<div class="clearfix"></div>
	</div>
</div>

<div class="max-content sectionContent service noBorder">
	<div class="max-content">
		<h3>Quem somos</h3>
		<p>A <strong>Monsertec Engenharia</strong> é a empresa líder do <strong class="red">Grupo Monsertec</strong>, uma organização empresarial brasileira.</p>
		<p>A Monsertec iniciou suas atividades no ano de 1997 na área de manutenção e montagem voltada para as indústrias Químicas, Petroquímicas, Celulose e Petróleo.</p>
		<p>Atuando em todo o território nacional a Monsertec une o conhecimento técnico e a experiência dos seus integrantes, à excelência na execução de serviços de manutenção e montagem complementar sob diferentes níveis de complexidade.</p>

		<img src="imgs/about_001.jpg" alt="">

		<p>Possui uma equipe treinada para o atendimento às mais variadas modalidades de contratação de serviços, atendendo a todas as exigências das áreas técnicas, comercial, projetos, planejamento, orçamentos, qualidade, saúde, segurança e meio ambiente.</p>

		<p>Com sede em Dias D’Ávila, situada a aproximadamente 40 km de Salvador-Bahia e filial em Ipojuca-Pernambuco, a Monsertec está sempre preparada para atender demandas de médio a grande porte com agilidade e eficácia.</p>

		<p>A Monsertec oferece aos seus clientes o suporte necessário em todas as fases do empreendimento.</p>
	</div>
</div>

<div class="qualityPolitcy">
	<div class="max-content">
		<h1>Política de qualidade</h1>
		<p>A Monsertec é uma empresa de prestação de serviços de manutenção e montagem industrial que tem por meio da melhoria contínua do sistema de gestão da qualidade os seguintes objetivos:</p>

		<ul>
			<li>Satisfazer as expectativas dos nossos clientes e integrantes;</li>
			<li>Promover o desenvolvimento profissional dos nossos integrantes;</li>
			<li>Melhorar continuamente os processos;</li>
			<li>Cumprir as exigências referentes aos requisitos legais e contratuais.</li>
		</ul>

		<div class="infoCardBox">
			<div class="infoCard">
				<h1>Missão</h1>
				<p>Fazer a diferença nas soluções voltadas para acesso, isolamento térmico, pintura industrial e refratários. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt fermentum arcu et venenatis. Fusce mollis enim nibh, quis mattis libero viverra molestie.</p>
			</div>
			<div class="infoCard">
				<h1>Visão</h1>
				<p>Ser reconhecida nacionalmente como uma das melhores e maiores empresas do seu segmento.Integer vehicula a elit vitae feugiat. Ut vel sem vitae nibh eleifend tincidunt quis eu erat. Nulla rhoncus feugiat est sed venenatis. Etiam imperdiet placerat erat, at sagittis nunc fermentum non.</p>
			</div>
			<div class="infoCard">
				<h1>Valores</h1>
				<ul>
					<li>• Harmonia no ambiente do trabalho;</li>
					<li>• Saúde, segurança e respeito ao Meio Ambiente;</li>
					<li>• Comportamento ético;</li>
					<li>• Busca da excelência;</li>
					<li>• Busca dos resultados;</li>
					<li>• Desenvolvimento Sustentável.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="max-content sectionContent borderSection">
	<h1 class="sectionTitle">Serviços</h1>

	<div class="cardsImgText">
		<a href="#!/servico/isolamento" class="card" ng-include="'views/elem-card-isolamento.html'"></a>
		<a href="#!/servico/acesso-andaimes" class="card" ng-include="'views/elem-card-acesso-andaimes.html'"></a>
		<a href="#!/servico/refratarios" class="card" ng-include="'views/elem-card-refratario.html'"></a>
		<a href="#!/servico/pintura-industrial" class="card" ng-include="'views/elem-card-pintura-industrial.html'"></a>
	</div>
</div>

<div class="max-content sectionContent">
	<div class="max-content">
		<h1 class="sectionTitle">Nossos clientes</h1>
		<div class="clientesLogos">
			<div><img src="imgs/client_001.png" alt=""></div>
			<div><img src="imgs/client_002.png" alt=""></div>
			<div><img src="imgs/client_003.png" alt=""></div>
			<div><img src="imgs/client_004.png" alt=""></div>
			<div><img src="imgs/client_005.png" alt=""></div>
			<div><img src="imgs/client_006.png" alt=""></div>
			<div><img src="imgs/client_007.png" alt=""></div>
			<div><img src="imgs/client_008.png" alt=""></div>
			<div><img src="imgs/client_009.png" alt=""></div>
			<div><img src="imgs/client_001.png" alt=""></div>
			<div><img src="imgs/client_002.png" alt=""></div>
			<div><img src="imgs/client_003.png" alt=""></div>
			<div><img src="imgs/client_004.png" alt=""></div>
			<div><img src="imgs/client_005.png" alt=""></div>
			<div><img src="imgs/client_006.png" alt=""></div>
			<div><img src="imgs/client_007.png" alt=""></div>
			<div><img src="imgs/client_008.png" alt=""></div>
			<div><img src="imgs/client_009.png" alt=""></div><div><img src="imgs/client_001.png" alt=""></div>
			<div><img src="imgs/client_002.png" alt=""></div>
			<div><img src="imgs/client_003.png" alt=""></div>
			<div><img src="imgs/client_004.png" alt=""></div>
			<div><img src="imgs/client_005.png" alt=""></div>
			<div><img src="imgs/client_006.png" alt=""></div>
			<div><img src="imgs/client_007.png" alt=""></div>
			<div><img src="imgs/client_008.png" alt=""></div>
			<div><img src="imgs/client_009.png" alt=""></div>
		</div>
	</div>
</div>

<div class="bannerSection contact" ng-include="'views/elem-fale.html'"></div>