<div class="bannerSection refratario">
	<div class="content">
		<div scroll-banner>
			<span class="TitleWhiteBox">Serviço</span>
			<h1 class="bigTitle">REFRATÁRIOS E FIREPROOFING</h1>
		</div>
	</div>
</div>

<div class="max-content sectionContent service">
	<div class="max-content">
		<h3>Desenvolvimento de projeto</h3>
		<p>A Monsertec atua em parceria com empresas de renome internacional na elaboração de projetos para atendimento aos seus diversos clientes.</p>

		<img src="imgs/service_003.jpg" alt="">

		<h3>Manutenção do calor</h3>
		<p>A Monsertec possui profissionais altamente qualificados e materiais de alta performance para reter o calor, propiciando maiores ganhos energéticos e eficiência nos processos.</p>

		<h3>Proteção química e abrasiva</h3>
		<p>Nossas equipes estão inteiramente capacitadas para atuar na aplicação de materiais com alta resistência química, mecânica e à abrasão para proporcionar um maior tempo de operação ao sistema.</p>

		<h3>Proteção contra fogo</h3>
		<p>A Monsertec dispõe de equipes especializadas na aplicação de proteção contra fogo em sistemas de projeção de alta e baixa pressão, assim como, aplicação manual de proteção passiva de cabos e eletrodutos, entre outros.</p>
	</div>
</div>

<div class="max-content sectionContent">
	<h1 class="sectionTitle">Serviços</h1>

	<div class="cardsImgText other">
		<a href="#!/servico/isolamento" class="card" ng-include="'views/elem-card-isolamento.html'"></a>
		<a href="#!/servico/acesso-andaimes" class="card" ng-include="'views/elem-card-acesso-andaimes.html'"></a>
		<a href="#!/servico/pintura-industrial" class="card" ng-include="'views/elem-card-pintura-industrial.html'"></a>
	</div>
</div>

<div class="bannerSection contact" ng-include="'views/elem-fale.html'"></div>