<div class="bannerSection pintura">
	<div class="content">
		<div scroll-banner>
			<span class="TitleWhiteBox">Serviço</span>
			<h1 class="bigTitle">Pintura industrial</h1>
		</div>
	</div>
</div>

<div class="max-content sectionContent service">
	<div class="max-content">
		<h3>Proteção de superfícies contra corrosão</h3>
		<p>A Monsertec possui equipes treinadas e especializadas, capazes de aplicar os mais diversos esquemas de pintura para manter as tubulações e equipamentos protegidos contra a corrosão, independente da agressividade do ambiente.</p>

		<img src="imgs/service_004.jpg" alt="">

		<h3>Identificação e sinalização</h3>
		<p>A Monsertec possui profissionais altamente qualificados e materiais de alta performance para reter o calor, propiciando maiores ganhos energéticos e eficiência nos processos.</p>

		<h3>Proteção química e abrasiva</h3>
		<p>Obedecemos minunciosamente os padrões de identificação e sinalização de segurança de cada cliente, para ajudar na operação do sistema e facilitar a visualização dos riscos eminentes.</p>

		<h3>Garantia da organização e limpeza de sua unidade</h3>
		<p>Os serviços de pintura oferecidos pela Monsertec, além de garantir melhoria na segurança e sinalização, mantém a unidade industrial limpa e organizada, tornando um ambiente mais agradável e saudável para todas as partes interessadas.</p>
	</div>
</div>

<div class="max-content sectionContent">
	<h1 class="sectionTitle">Serviços</h1>

	<div class="cardsImgText other">
		<a href="#!/servico/isolamento" class="card" ng-include="'views/elem-card-isolamento.html'"></a>
		<a href="#!/servico/acesso-andaimes" class="card" ng-include="'views/elem-card-acesso-andaimes.html'"></a>
		<a href="#!/servico/refratarios" class="card" ng-include="'views/elem-card-refratario.html'"></a>
	</div>
</div>

<div class="bannerSection contact" ng-include="'views/elem-fale.html'"></div>