<div class="bannerSection isolamento">
	<div class="content">
		<div scroll-banner>
			<span class="TitleWhiteBox">Serviço</span>
			<h1 class="bigTitle">Acesso/Andaimes</h1>
		</div>
	</div>
</div>

<div class="max-content sectionContent service">
	<div class="max-content">
		<h3>Projetos de Andaime sob medida para seu empreendimento</h3>
		<p>Contamos com um corpo técnico especializado em elaboração de projetos de andaime. Nossos profissionais desenvolvem projetos sob medida para seu empreendimento atendendo aos mais altos níveis de complexidade.</p>

		<img src="imgs/service_002.jpg" alt="">

		<h3>A melhor opção estrutural para acesso aos serviços de manutenção e montagem industrial</h3>
		<p>O andaime proporciona um sistema de encaixe muito arrojado e versátil. São projetados para dar rapidez à montagem dos acessos que facilitam a realização dos serviços dos nossos clientes. As peças são produzidas sob rigoroso processo de qualidade garantindo alta resistência e durabilidade.</p>

		<h3>Andaimes Monsertec, versatilidade e customização em prol do desenvolvimento</h3>
		<p>Os andaimes são estruturas versáteis e adaptáveis. Cada andaime é único. Provemos soluções diferenciadas e customizadas para atender a todas as necessidades dos nossos clientes.</p>
	</div>
</div>

<div class="max-content sectionContent">
	<h1 class="sectionTitle">Serviços</h1>

	<div class="cardsImgText other">
		<a href="#!/servico/isolamento" class="card" ng-include="'views/elem-card-isolamento.html'"></a>
		<a href="#!/servico/refratarios" class="card" ng-include="'views/elem-card-refratario.html'"></a>
		<a href="#!/servico/pintura-industrial" class="card" ng-include="'views/elem-card-pintura-industrial.html'"></a>
	</div>
</div>

<div class="bannerSection contact" ng-include="'views/elem-fale.html'"></div>