<div class="bannerSection isolamento">
	<div class="content">
		<div scroll-banner>
			<span class="TitleWhiteBox">Serviço</span>
			<h1 class="bigTitle">Isolamento térmico</h1>
		</div>
	</div>
</div>

<div class="max-content sectionContent service">
	<div class="max-content">
		<h3>Excelência na conservação de energia</h3>
		<p>A Monsertec utiliza as melhores práticas de aplicação de isolamento térmico e os materiais mais modernos disponíveis no mercado em prol da conservação de energia nos processos industriais, promovendo economia e otimização deste valioso recurso.</p>

		<img src="imgs/service_001.jpg" alt="">

		<h3>Versatilidade à qualquer temperatura</h3>
		<p>Oferecemos a solução adequada de isolamento térmico em condições criogênicas ou de altas temperatura, com excelentes padrões de acabamento e adequados a realidade de cada cliente.</p>

		<h3>Estabilidade e fluidez para os processos</h3>
		<p>Trabalhamos, também, para alcançar menores perdas termicas e manter os processos estáveis, além de promover fluidez necessária para propiciar o transporte adequado dos produtos.</p>
	</div>
</div>

<div class="max-content sectionContent">
	<h1 class="sectionTitle">Serviços</h1>

	<div class="cardsImgText other">
		<a href="#!/servico/acesso-andaimes" class="card" ng-include="'views/elem-card-acesso-andaimes.html'"></a>
		<a href="#!/servico/refratarios" class="card" ng-include="'views/elem-card-refratario.html'"></a>
		<a href="#!/servico/pintura-industrial" class="card" ng-include="'views/elem-card-pintura-industrial.html'"></a>
	</div>
</div>

<div class="bannerSection contact" ng-include="'views/elem-fale.html'"></div>